$hljs-background: #282C34;
$hljs-text: #abb2bf;
$hljs-comment: #5c6370;
$hljs-code: #abb2bf;
$hljs-attr-1: #d19a66;
$hljs-quote: #5c6370;
$hljs-selector-attr: #d19a66;
$hljs-selector-pseudo: #d19a66;
$hljs-addition: #98c379;
$hljs-deletion: #e06c75;
$hljs-doctag: #c678dd;
$hljs-section: #e06c75;
$hljs-title: #61aeee;
$hljs-keyword: #c678dd;
$hljs-selector-tag: #e06c75;
$hljs-tag: #e06c75;
$hljs-selector-class: #d19a66;
$hljs-nomarkup: #98c379;
$hljs-name: #e06c75;
$hljs-attr-2: #d19a66;
$hljs-attribute: #98c379;
$hljs-variable: #d19a66;
$hljs-template-variable: #d19a66;
$hljs-regexp: #98c379;
$hljs-selector-id: #61aeee;
$hljs-type: #d19a66;
$hljs-params: #abb2bf;
$hljs-built_in: #e6c07b;
$hljs-meta-string: #98c379;
$hljs-number: #d19a66;
$hljs-meta: #61aeee;
$hljs-literal: #56b6c2;
$hljs-symbol: #61aeee;
$hljs-string: #98c379;
$hljs-subst: #e06c75;
$hljs-bullet: #61aeee;

@mixin hljs {
    & > span > .hljs-tag {
        color: $hljs-tag;

        & > .hljs-name {
            color: $hljs-name;
        }

        & > .hljs-attr {
            color: $hljs-attr-2;
        }
    }

    & > .bash {
        & > .hljs-built_in {
            color: $hljs-built_in;
        }

        & > .hljs-variable {
            color: $hljs-variable;
        }
    }

    & > .hljs-tag {
        color: $hljs-tag !important;

        & > .hljs-name {
            color: $hljs-tag;
        }

        & > .hljs-attr {
            color: $hljs-tag;
        }
    }

    & > .hljs-function > .hljs-params {
        color: $hljs-params;

        & > .hljs-type {
            color: $hljs-type;
        }
    }

    & > .hljs-params {
        color: $hljs-params;

        & > .hljs-built_in {
            color: $hljs-built_in;
        }
    }

    & > .hljs-selector-attr {
        color: $hljs-selector-attr;
    }

    & > .hljs-type {
        color: $hljs-type;
    }

    & > .hljs-selector-id {
        color: $hljs-selector-id;
    }

    & > .hljs-selector-pseudo {
        color: $hljs-selector-pseudo;
    }

    & > .hljs-bullet {
        color: $hljs-bullet;
    }
    
    & > .hljs-addition {
        color: $hljs-addition;
    }

    & > .hljs-deletion {
        color: $hljs-deletion;
    }
    
    & > .hljs-regexp {
        color: $hljs-regexp;
    }

    & > .hljs-doctag {
        color: $hljs-doctag;
    }

    & > .hljs-built_in {
        color: $hljs-built_in;
    }

    & > .hljs-attr {
        color: $hljs-attr-1;
    }

    & .hljs-nomarkup > span {
        color: $hljs-nomarkup;
    }

    & .hljs-section {
        color: $hljs-section;
    }

    & .hljs-meta {
        color: $hljs-meta;
    }

    & .hljs-literal {
        color: $hljs-literal;
    }

    & .hljs-title {
        color: $hljs-title;
    }

    & .hljs-keyword {
        color: $hljs-keyword;
    }
    
    & .hljs-selector-tag {
        color: $hljs-selector-tag;
    }

    & .hljs-selector-class {
        color: $hljs-selector-class;
    }
    
    & .hljs-attribute {
        color: $hljs-attribute;
    }

    & .hljs-symbol {
        color: $hljs-symbol;
    }

    & .hljs-number {
        color: $hljs-number;
    }

    & .hljs-string {
        color: $hljs-string;
    }

    & .hljs-subst {
        color: $hljs-subst
    }

    & .hljs-code {
        color: $hljs-code;
    }

    & .hljs-comment {
        color: $hljs-comment;
    }

    & .hljs-quote {
        color: $hljs-quote;
    }

    & .hljs-variable {
        color: $hljs-variable;
    }

    & .hljs-template-variable {
        color: $hljs-template-variable
    }

    & .hljs-meta-string {
        color: $hljs-meta-string;
    }
}


/* Powercord & Discord Codeblocks */
.hljs {
    background-color: $hljs-background !important;
    color: $hljs-text;
    @include hljs;

    & > .powercord-codeblock-table > tr > td {
        @include hljs 
    }
}


/* Chatbar Codeblocks */
.codeLine-14BKbG > span > span {
    color: $hljs-text;
    @include hljs
}
