#app-mount {
    .hljs {
        background: var(--background);
        color: var(--text-default);
        padding: 15px 20px;
        border-radius: 0;
        border: none;
    }
    .codeLine-14BKbG {
        color: var(--text-default);
    }
    
    // defaults
    $hljs: (
        'comment', 'attribute', 'nomarkup', 'variable', 'meta', 'meta-string', 'meta-keyword', 'literal', 'string', 'section',
        'number', 'tag', 'name', 'selector-tag', 'selector-class', 'selector-attr', 'selector-pseudo', 'function', 'keyword', 
        'built_in', 'title', 'link', 'bullet', 'symbol', 'addition', 'deletion', 'attr', 'punctuation', 'regexp', 'type',
        'selector-id', 'params', 'operator', 'rest_arg', 'template-variable'
    );
    @each $hljsType in $hljs {
        .hljs-#{$hljsType} {
            color: var(--hljs-#{$hljsType});
        }
    }

    // comment
    .hljs-comment {
        $comments: (
            'doctag'
        );
        @each $hljsType in $comments {
            .hljs-#{$hljsType} {
                color: var(--hljs-comment-#{$hljsType});
            }
        }
    }

    // params
    .hljs-params {
        $params: (
            'attr'
        );
        @each $hljsType in $params {
            .hljs-#{$hljsType} {
                color: var(--hljs-params-#{$hljsType});
            }
        }
    }

    // string
    .hljs-string {
        $strings: (
            'subst', 'template-variable'
        );
        @each $hljsType in $strings {
            .hljs-#{$hljsType} {
                color: var(--hljs-string-#{$hljsType});
            }
        }
    }

    // tag
    .hljs-tag {
        $tags: (
            'name', 'attr'
        );
        @each $hljsType in $tags {
            .hljs-#{$hljsType} {
                color: var(--hljs-tag-#{$hljsType});
            }
        }
    }

    // function
    .hljs-function {
        $functions: (
            'keyword', 'title', 'literal', 'params', 'operator'
        );
        @each $hljsType in $functions {
            .hljs-#{$hljsType} {
                color: var(--hljs-function-#{$hljsType});
            }
        }
    }

    // class
    .hljs-class {
        $classes: (
            'keyword', 'title'
        );
        @each $hljsType in $classes {
            .hljs-#{$hljsType} {
                color: var(--hljs-class-#{$hljsType});
            }
        }
    }
}
