#app-mount {
    code {
        background: var(--hljs-background);
        color: var(--hljs-default);
    }

    code, .slateTextArea-1Mkdgw {
        .hljs-comment {
            color: var(--hljs-comment);
        }
        .hljs-quote {
            color: var(--hljs-quote);
        }
        .hljs-doctag {
            color: var(--hljs-doctag);
        }
        .hljs-keyword {
            color: var(--hljs-keyword);
        }
        .hljs-attribute {
            color: var(--hljs-attribute);
        }
        .hljs-built_in {
            color: var(--hljs-built_in);
        }
        .hljs-selector-tag {
            color: var(--hljs-selector-tag);
        }
        .hljs-selector-attr {
            color: var(--hljs-selector-attr);
        }
        .hljs-selector-pseudo {
            color: var(--hljs-selector-pseudo)
        }
        .hljs-selector-class {
            color: var(--hljs-selector-class);
        }
        .hljs-number {
            color: var(--hljs-number);
        }
        .hljs-variable {
            color: var(--hljs-variable);
        }
        .hljs-meta {
            color: var(--hljs-meta);
        }
        .hljs-section {
            color: var(--hljs-section);
        }
        .hljs-literal {
            color: var(--hljs-literal);
        }
        .hljs-string {
            color: var(--hljs-string);
        }
        .hljs-attr {
            color: var(--hljs-attr);
        }
        .hljs-meta-string {
            color: var(--hljs-meta-string);
        }
        .hljs-addition {
            color: var(--hljs-addition);
        }
        .hljs-deletion {
            color: var(--hljs-deletion);
        }
        .hljs-link {
            color: var(--hljs-link);
        }
        .hljs-bullet {
            color: var(--hljs-bullet);
        }
        .hljs-symbol {
            color: var(--hljs-symbol);
        }
        .hljs-subst {
            color: var(--hljs-subst);
        }
        .hljs-regexp {
            color: var(--hljs-regexp);
        }
        .hljs-type {
            color: var(--hljs-type);
        }
        .hljs-selector-id {
            color: var(--hljs-selector-id);
        }
    }
}