:root {
    // Base Colors
    --hljs-color-0: #282C34;
    --hljs-color-1: #abb2bf;
    --hljs-color-2: #5c6370;
    --hljs-color-3: #98c379;
    --hljs-color-4: #e06c75;
    --hljs-color-5: #c678dd;
    --hljs-color-6: #d19a66;
    --hljs-color-7: #e6c07b;
    --hljs-color-8: #61aeee;
    --hljs-color-9: #56b6c2;

    // HLJS
    --hljs-background: var(--hljs-color-0);
    --hljs-default: var(--hljs-color-1);
    --hljs-comment: var(--hljs-color-2);
    --hljs-quote: var(--hljs-color-2);
    --hljs-string: var(--hljs-color-3);
    --hljs-meta-string: var(--hljs-color-3);
    --hljs-attribute: var(--hljs-color-3);
    --hljs-regexp: var(--hljs-color-3);
    --hljs-addition: var(--hljs-color-3);
    --hljs-deletion: var(--hljs-color-4);
    --hljs-name: var(--hljs-color-4);
    --hljs-builtin-name: var(--hljs-color-4);
    --hljs-subst: var(--hljs-color-4);
    --hljs-section: var(--hljs-color-4);
    --hljs-selector-tag: var(--hljs-color-4);
    --hljs-doctag: var(--hljs-color-5);
    --hljs-keyword: var(--hljs-color-5);
    --hljs-number: var(--hljs-color-6);
    --hljs-type: var(--hljs-color-6);
    --hljs-variable: var(--hljs-color-6);
    --hljs-attr: var(--hljs-color-6);
    --hljs-selector-class: var(--hljs-color-6);
    --hljs-selector-attr: var(--hljs-color-6);
    --hljs-selector-pseudo: var(--hljs-color-6);
    --hljs-template-variable: var(--hljs-color-6);
    --hljs-built_in: var(--hljs-color-7);
    --hljs-symbol: var(--hljs-color-8);
    --hljs-title: var(--hljs-color-8);
    --hljs-link: var(--hljs-color-8);
    --hljs-selector-id: var(--hljs-color-8);
    --hljs-bullet: var(--hljs-color-8);
    --hljs-literal: var(--hljs-color-9);

    // HLJS-Meta
    --hljs-meta: var(--hljs-color-8);

    // HLJS-Title
    --hljs-class-title: var(--hljs-color-7);
    --hljs-function-title: var(--hljs-color-8);

    // HLJS-Tag
    --hljs-tag-name: var(--hljs-color-4);    
}
