$hljs-background: #202746;
$hljs-text: #979db4;
$hljs-comment: #898ea4;
$hljs-code: #979db4;
$hljs-attr-1: #979db4;
$hljs-quote: #979db4;
$hljs-selector-attr: #979db4;
$hljs-selector-pseudo: #979db4;
$hljs-addition: #979db4;
$hljs-deletion: #979db4;
$hljs-doctag: #979db4;
$hljs-section: #3d8fd1;
$hljs-title: #3d8fd1;
$hljs-keyword: #6679cc;
$hljs-selector-tag: #6679cc;
$hljs-tag: #c94922;
$hljs-selector-class: #c94922;
$hljs-nomarkup: #c94922;
$hljs-name: #c94922;
$hljs-attr-2: #c94922;
$hljs-attribute: #c94922;
$hljs-variable: #c94922;
$hljs-template-variable: #c94922;
$hljs-regexp: #c94922;
$hljs-selector-id: #c94922;
$hljs-type: #c76b29;
$hljs-params: #c76b29;
$hljs-built_in: #c76b29;
$hljs-meta-string: #c76b29;
$hljs-number: #c76b29;
$hljs-meta: #c76b29;
$hljs-literal: #c76b29;
$hljs-symbol: #ac9739;
$hljs-string: #ac9739;
$hljs-subst: #ac9739;
$hljs-bullet: #ac9739;