$hljs-background: #272822;
$hljs-text: #ddd;
$hljs-comment: #75715e;
$hljs-code: #66d9ef;
$hljs-attr-1: #ddd;
$hljs-quote: #75715e;
$hljs-selector-attr: #a6e22e;
$hljs-selector-pseudo: #a6e22e;
$hljs-addition: #a6e22e;
$hljs-deletion: #75715e;
$hljs-doctag: #75715e;
$hljs-section: #a6e22e;
$hljs-title: #a6e22e;
$hljs-keyword: #f92672;
$hljs-selector-tag: #f92672;
$hljs-tag: #f92672;
$hljs-selector-class: #ddd;
$hljs-nomarkup: #bf79db;
$hljs-name: #f92672;
$hljs-attr-2: #f92672;
$hljs-attribute: #bf79db;
$hljs-variable: #a6e22e;
$hljs-template-variable: #a6e22e;
$hljs-regexp: #bf79db;
$hljs-selector-id: #ddd;
$hljs-type: #a6e22e;
$hljs-params: #ddd;
$hljs-built_in: #a6e22e;
$hljs-meta-string: #75715e;
$hljs-number: #a6e22e;
$hljs-meta: #75715e;
$hljs-literal: #f92672;
$hljs-symbol: #bf79db;
$hljs-string: #a6e22e;
$hljs-subst: #a6e22e;
$hljs-bullet: #a6e22e;
